/*
  secrets.h

  a place to define all your creds and secrets
  file is ignored by git
*/

const char BLYNK_AUTH[] = "blabla124324234234234223dsfassa";
const char WIFI_SSID[] = "my-awesome-access-point";
const char WIFI_PSK[] = "access-point-password";
