/*
  secrets.h

  a place to define all your creds and secrets
  file is ignored by git
*/

#define ORANGE_SSID "orange-tram"
#define ASUS_SSID "tram4-2g"

const char BLYNK_AUTH[] = "blabla124324234234234223dsfassa";
const char WIFI_SSID[] = ASUS_SSID;
const char WIFI_PSK[] = "access-point-password";
